logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
dev-dist
*.tsbuildinfo

.env
.env*.local
*.local

/test-results/
playwright-report
.vercel

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
